<%- include('components/header'); -%>

    <%- include('components/navbar'); -%>


        <style>
            .swiper {
                height: 500px;
            }
        </style>

        <header class="px-5 md:px-8 container mx-auto">
            <!-- Slider main container -->
            <div class="swiper  my-8 rounded-lg ">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide relative "><span class="absolute inset-0 bg-black opacity-25 z-20"></span><img class="object-cover h-full w-full" src="/assets/slider1.jpeg" alt="" loading="lazy" /></div>
                    <div class="swiper-slide relative "><span class="absolute inset-0 bg-black opacity-25 z-20"></span><img class="object-cover h-full w-full" src="/assets/slider2.jpeg" alt="" loading="lazy" /></div>
                    <div class="swiper-slide relative "><span class="absolute inset-0 bg-black opacity-25 z-20"></span><img class="object-cover h-full w-full" src="/assets/slider3.jpeg" alt="" loading="lazy" /></div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

            </div>
        </header>


        <main>
            <div class="grid grid-cols-1 md:grid-cols-8 gap-8 container mx-auto px-5 md:px-8">
                <div class="md:col-span-6 bg-white rounded-lg p-5">
                    <!-- search -->
                    <div class="flex items-center gap-5">
                        <input type="search" id="search" value="" name="search" class="px-4 py-2 rounded-lg w-1/3 border border-gray-500 bg-gray-100" placeholder="ابحث عن اسم الكتاب ..." />
                        <button id="SearchButton" type="button" class="bg-green-600 px-5 py-2 rounded-md text-white">
                            بحث
                        </button>
                    </div>
                    <!-- books -->
                    <% if(books && books.length> 0) { %>
                        <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3  gap-4 sm:gap-6 md:gap-8 lg:gap-12">

                            <% books.forEach(book=> { %>
                                <div class="border border-gray-200 rounded-md overflow-hidden h-90">
                                    <img src="<%-book.image -%>" alt="<%= book.name %>" loading="lazy" class="h-32 w-44 mx-auto bg-cover bg-center " />
                                    <div class="p-3 ">
                                        <h1 style="
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        white-space: nowrap;" class="text-gray-800 text-2xl clip-1">
                                            <%= book.name %>
                                        </h1>
                                        <p class="text-gray-600 text-sm my-1">
                                            <%= book.description %>
                                        </p>
                                        <div class="flex items-center justify-between my-1">
                                            <p style="
                                            text-overflow: ellipsis;
                                            overflow: hidden;
                                            white-space: nowrap;" class="text-gray-700 text-sm w-1/2">
                                                <span class="font-bold">
                                                    المؤلف:
                                                </span>
                                                <%= book.author %>
                                            </p>
                                            <p class="text-gray-700 text-sm">
                                                <span class="font-bold">
                                               d     الناشر:
                                                </span>
                                                <%= book.publisher %>

                                            </p>
                                        </div>


                                        <form action="<%= user ? '/book-details/'+ book.id  : '/login'%>" method="get">
                                            <button type="submit" class="flex items-center justify-center block w-full py-3 bg-green-600 text-white rounded-md ">
                                                <span>
                                                    <%= book.price %>
                                                </span>
                                                <span>/</span>
                                                <span>شراء</span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <% });-%>
                        </div>
                        <% } else { %>
                            <h4 class="text-center p-12 text-xl">لا يوجد نتائج</h4>

                            <% } %>
                </div>
                <sidebar class="md:col-span-2 bg-white rounded-lg p-5">
                    <h2 class="text-2xl text-gray-900 font-medium border-b border-gray-200">اقسام الكتب</h2>
                    <ul>
                        <li class="my-3 text-xl text-gray-600 font-medium">
                            <button data-specification="0" type="button" id="SpecializationButton" class="">
                                الكل
                            </button>
                        </li>
                        <% specifications.forEach(element=> { %>
                            <li class="my-3 text-xl text-gray-600 font-medium">
                                <button data-specification="<%- element.id -%>" type="button" id="SpecializationButton" class="">
                                    <%- element.name -%>
                                </button>
                            </li>
                            <% });-%>
                    </ul>
                </sidebar>
            </div>
        </main>


        <%- include('components/footer'); -%>


            <script>
                const swiper = new Swiper('.swiper', {
                    // Optional parameters
                    loop: true,
                    autoplay: true,

                    // If we need pagination
                    pagination: {
                        el: '.swiper-pagination',
                    },


                });

                const SpecializationButton = document.querySelectorAll("#SpecializationButton");
                const SearchButton = document.querySelector("#SearchButton");
                const search = document.getElementById('search')

                let current_specialization_id = 0
                let searchVal = ""



                search.addEventListener('change', function(e) {
                    searchVal = e.target.value
                })


                SearchButton.addEventListener('click', handleSpecializationFilter)


                SpecializationButton.forEach(item => {
                    item.addEventListener('click', event => {
                        //handle click
                        current_specialization_id = event.target.getAttribute('data-specification')
                        handleSpecializationFilter()
                    })
                })


                function handleSpecializationFilter() {
                    location.assign(`/?specialization_id=${current_specialization_id}&search=${searchVal}`);

                }
            </script>